<div class="columns">

    <div class="column">
        <h1 class="title is-size-3"> Work experience</h1>
        <hr>
        <strong class="is-size-5 has-text-warning"> Game Developer- Midnight Works</strong>
        <p class="is-size-6">

            Using the Unity software and C# language I developed the mobile game “The Miner’s Dreame”. I created every
            gameplay element from menu functionality to power-ups, level-design, animations (2d / 3d)...

        </p>

        <div class="tags are-medium ">
            <span class="tag is-success">Unity</span>
            <span class="tag is-success">C#</span>

            <a class="button is-warning is-outlined"
                href="https://play.google.com/store/apps/details?id=com.theminersdream.android&hl=en_US&gl=US">
                <span class="icon">
                    <fa-icon [icon]="faLink"></fa-icon>
                    <i class="fab fa-github"></i>
                </span>
                <span>The Miner's Dream</span>


            </a>

        </div>

        <br>
        <br>

        <strong class="is-size-5 has-text-warning"> Game Tester - SMARTREE ROMANIA</strong>
        <p class="is-size-6">
            I worked as a game tester on the Battlefield 5 and Madden 21 projects.
        </p>
        <div class="tags are-medium ">
            <span class="tag is-success">Jira</span>
        </div>
        <br>

        <strong class="is-size-5 has-text-warning">Script Writer - IPSOS Interactive
            Services</strong>
        <p class="is-size-6">
            Using the programing language “dimensions” I created custom online survey for clients by programing the
            logic for each question.
        </p>
    </div>

    <div class="column">
        <h1 class="title is-size-3">IT SKILLS</h1>
        <hr>

        <div class="columns">
            <div class="column content is-normal">
                <h3 class="has-text-warning">Web Development </h3>
                <ul>
                    <li>HTML </li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Angulart</li>
                    <li>Typescript</li>
                    <li>SQL</li>
                    <li>NoSQL</li>
                    <li>Wordpress</li>
                </ul>
            </div>
            <div class="column content is-normal">
                <h3 class="has-text-warning">Game Development </h3>
                <ul>
                    <li>Unity </li>
                    <li>C#</li>
                    <li>Unreal Engine</li>
                    <li>Blender</li>
                </ul>
            </div>
        </div>

    </div>