<div class="columns">
    <div class="column">
        <h1 class="title is-size-3">Art Skills</h1>
        <hr>
        <h4>Adobe Illustrator
            <progress class=" progress is-success" value="75" max="100">75%</progress>
        </h4>

        <h4>Adobe Photoshop
            <progress class="progress is-success" value="75" max="100">75%</progress>
        </h4>
        <h4>Adobe Indesign
            <progress class="progress is-success" value="40" max="100">75%</progress>
        </h4>
        <h4>Adobe Premiere
            <progress class="progress is-success" value="30" max="100">75%</progress>
        </h4>
        <h4>Adobe Adobe Affter
            <progress class="progress is-success" value="30" max="100">30%</progress>
        </h4>
        <h4>Blender
            <progress class="progress is-success" value="20" max="100">30%</progress>
        </h4>


    </div>
    <div class="column">
        <h1 class="title is-size-3">Made with Premiere Pro</h1>
        <hr>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/_9ShSjkmeuc"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>