<div class="columns">

    <div class="column">
        <h1 class="title is-size-3">Projects and Freelance </h1>
        <hr>


        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                Portofolio website made with the Angular Framework (personal project)
            </p>
            <div class="tags are-small">
                <span class="tag is-danger">Angular</span>
                <span class="tag is-info">Typescript</span>
                <span class="tag is-primary">Bulma</span>
                <span class="tag is-warning">Firebase</span>

            </div>
            <div>
                <a class="button is-link is-warning is-pulled-right" href="/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span><span>CODE</span></a>
                <a class="button ml-3 is-danger  is-pulled-right" href="/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>
        <br>

        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                Wikipedia Search application made with Angular (personal project)
            </p>
            <div class="tags are-small">
                <span class="tag is-danger">Angular</span>
                <span class="tag is-info">Typescript</span>
                <span class="tag is-primary">Bulma</span>
                <span class="tag is-info">Wikipedia API</span>
                <span class="tag is-dark">Vercel</span>

            </div>
            <div>
                <a class="button is-link is-warning is-pulled-right" href="https://github.com/gpetrut86/WikiApp"
                    target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span><span>CODE</span></a>
                <a class="button ml-3 is-danger  is-pulled-right" href="https://wiki-app-beta.vercel.app/"
                    target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>
        <br>


        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                Note application made with Angular (personal project)
            </p>
            <div class="tags are-small">
                <span class="tag is-danger">Angular</span>
                <span class="tag is-info">Typescript</span>
                <span class="tag is-primary">Bulma</span>
                <span class="tag is-dark">Vercel</span>

            </div>
            <div>
                <a class="button is-link is-warning is-pulled-right" href="https://github.com/gpetrut86/DragAndDrop"
                    target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span><span>CODE</span></a>
                <a class="button ml-3 is-danger  is-pulled-right" href="https://drag-and-drop-sooty.vercel.app/"
                    target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>
        <br>

        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                voguetravel.ro is a travel agency website creaded in Wordpress (freelance project)
            </p>
            <div class="tags are-small">
                <span class="tag is-info">Wordpress</span>

            </div>
            <div>

                <a class="button ml-3 is-danger  is-pulled-right" href="https://voguetravel.ro/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>

        <br>
        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                open-romaniadmc.com is a travel agency website creaded in Wordpress (freelance project)
            </p>
            <div class="tags are-small">
                <span class="tag is-info">Wordpress</span>

            </div>
            <div>

                <a class="button ml-3 is-danger  is-pulled-right" href="http://open-romaniadmc.com/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>

        <br>
        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                multicreativ.ro is a website creaded in Wordpress (freelance project)
            </p>
            <div class="tags are-small">
                <span class="tag is-info">Wordpress</span>

            </div>
            <div>

                <a class="button ml-3 is-danger  is-pulled-right" href="http://www.multicreativ.ro/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>


        <br>
        <div class="box">
            <p class="title is-size-5 has-text-dark is-inline">
                decoambiental.ro is a website creaded in Wordpress (freelance project)
            </p>
            <div class="tags are-small">
                <span class="tag is-info">Wordpress</span>

            </div>
            <div>

                <a class="button ml-3 is-danger  is-pulled-right" href="http://www.decoambiental.ro/" target=”_blank”>
                    <span class="icon">
                        <fa-icon [icon]="faLink"></fa-icon>
                        <i class="fab fa-github"></i>
                    </span>
                    <span>VIEW</span>
                </a>
            </div>
        </div>


    </div>
</div>