/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";
@import 'material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background-color:hsl(229, 53%, 53%);
}

::-webkit-scrollbar-thumb{

    background-color: rgba(0, 0, 0, .2);
  

}
::-webkit-scrollbar-thumb:hover{

    background-color: rgba(0, 0, 0, .3);
  

}